{
	"prefix": "!i",
	"token": "NjcyNjQzOTg0MzU4NzY4Njcz.XkraqA.oclzxmWvHVu00LJDifyl0Q57Pjk",
	"botownerid": "#0001",
	"apiKey": "API key from",
	"statusMessage": "Visual Studio Code or something",
	"statusType": "WATCHING"
}
